@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 10px;
    text-decoration: none;
    margin: 15px 20px 10px 20px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

#verify_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.verify_border {
    border: 2px solid rgb(151, 51, 51);
    border-radius: 10px;
    padding: 20px;
    min-height: 400px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.verify_border form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.verify_border input {
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(151, 51, 51);
    width: 100%;
}
.verify_border button {
    margin: 0px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(151, 51, 51);
    width: 100%;
    background-color: rgb(151, 51, 51);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.verify_border button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(151, 51, 51);
}
.verify_border * {
    margin: 10px;
}
.verify_border img {
    height: 150px;
    width: auto;
}
.verify_border form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.verify_border span {
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}
.verify_border #arrow_back {
    font-size: 1.3em;
    width: 25px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}
.verify_border #arrow_back:hover {
    background-color: royalblue;
    color: rgb(255, 255, 255);
}

#nav_bar {
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    padding: 0px;
}

.nav_bar_group_button {
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav_bar_group_button input {
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.nav_bar_group_button button {
    border: none;
    font-size: 1.3em;
    position: relative;
    left: -30px;
    cursor: pointer;
}

.nav_bar_button {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
    font-size: 1.3em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 100px;
    height: 50px;
}
.nav_bar_button div {
    margin: 0px;
}
.Options {
    display: none;
    flex-direction: column;
    top: 50px;
    position: absolute;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    z-index: 1;
}
.nav_bar_button:hover .Options {
    display: flex;
    
}
.Option {
    cursor: pointer;
    padding: 8px 16px;
    width: 200px;
    font-weight: normal;
}
.Option:hover {
    background-color: #f1f1f1;
}


#nav_bar .Link-tag {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.product_list {
    margin: 0px 0px 50px 0px;
    max-width: 100vw;
}
.product_list h1 {
    font-family: Helvetica, sans-serif;
    margin: 20px;
}
.product_list div {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    justify-content: space-between;
}
.product_list .Link-tag {
    text-decoration: none;
    margin-bottom: 30px;

}
.card{
    border: 2px solid rgb(255, 255, 255);
    padding: 0px;
    margin: 20px 0px 30px 0px;
    height: auto;
    min-height: 350px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;

}
.card div {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 10px;
    margin-top: 10px;
    padding-top: 0%;
    color:rgb(0, 0, 0);
}
.card-icon {
    font-size: 2em;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
}
.card-icon:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.card1 {
    padding: 0px;
    margin-left: 40px;
    margin-top: 20px;
    max-width: 150px;
    display: inline-block;
}
.card1-image {
    max-width: 150px;
    height: auto;
    border-radius: 0px;
    margin-bottom: 0px;
}
.card1-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-top: 10px;
    padding-top: 0%;
    color: rgb(0, 0, 0);
}
.card1-price {
    color: rgb(255, 0, 0);
    margin: 10px;
}
.card1-button {
    

}
#link-path {
    margin: 15px 0px 20px 0px;
    font-size: smaller;
    padding: 15px 0px 15px 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 72%);
}

.product_filter {
    display: flex;
    margin: 0px 0px 50px 0px;
    max-width: 100vw;
    min-height: 6ch;
    margin-top: 30px;
}
.left_product_filter {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    min-height: 650px;
}

.left_product_filter h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.product-type {
    font-size: large;
}

.product-type .product-category {
    font-size: smaller;
    margin: 10px 0px 10px 20px;
}

.left_product_filter .inner-product-category {
    margin: 5px 0px 5px 0px;
}

.left_product_filter .Link-tag {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.right_product_filter {
    padding-left: 30px;
    flex: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
#price_filter {
    display: flex;
    flex-direction: column;
}
.SP-main{
    display: flex;
}

.SP-main img{
    width: 300px;
    height: auto;
    margin-left: 100px;
}

.SP-in4{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.SP-in4 h1{
    margin-top: 10px;
}

.SP-in4 p{
    margin: 15px;
    font-size: 20px;
}

.SP-button-color{
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.SP-button-color:hover{
    cursor: pointer;
    background-color: antiquewhite;
    color: #A0522D;
}

.SP-button{
    padding: 10px;
    margin-right: 20px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.SP-button:hover{
    cursor: pointer;
    background-color: antiquewhite;
    color: #A0522D;
}
.SP-button-love{
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.SP-button-love:hover{
    color: rgb(245, 139, 157);
}

.SP-counter{
    display: flex;
}

.SP-counter-button{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 20px;
    background-color:rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 2px;
    font-size: 20px;
}
  
.SP-counter-button:hover{
    cursor: pointer;
    background-color: antiquewhite;
    color: #A0522D;
}

.SP-mota{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.SP-mota h2{
    margin-top: 20px;
}

.SP-mota p{
    margin-top: 10px;
}

.SP-danhgia{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.SP-danhgia h2{
    margin-top: 20px;
}

.SP-danhgia p{
    margin-top: 10px;
}

.SP-splq{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.SP-splq h2{
    margin-top: 20px;
}

.profile {
    display: flex;
    min-height: 200px;
}
.profile .left-profile {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    min-height: 450px;
}

#cart-container {
    display: flex;
    min-height: 80vh;
    margin: 50px 0px 50px 0px;
}

#cart-product-container {
    flex: 0.55;
}

.cart-product {
    display: flex;
}

.cart-product img {
    width: 100px;
    height: 150px;
}

#cart-form-container {
    flex: 0.4;
}

#cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}







































#top-bar-admin-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#admin-page-container {
    display: flex;
}
#admin-page-container #left-admin-page-container {
    flex: 0.3;
}

#admin-page-container #right-admin-page-container {
    flex: 0.7;
}
.admin-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    width: 200px;
    height: calc(100vh - 50px);
    margin: 0px;
    padding: 0px;
}

.admin-sidebar div {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.admin-sidebar button {
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 1.3em;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 10vh;
}

.admin-sidebar button:hover {
    background-color: #f1f1f1;
}



#user-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#user-detail-container #user-detail-content {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

#user-detail-container #user-detail-content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

#user-detail-content #user-information {
    display: flex;
    justify-content: space-evenly;
}

#user-information div {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

